<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Arrow Team</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/introduction"
                >Introduction</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li
              class="nav-item dropdown bg-success bg-gradient active"
              style="--bs-bg-opacity: 0.2"
            >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Your Devices
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-solid fa-bell me-2"></i>
                    Notice
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/addDevices"
                    ><i class="fa-solid fa-camera me-2"></i>Add&Connected</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="false">About Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-3"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <form action="/deviceinfo" method="post">
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="inputEmail3"
            name="url"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Wifi Name</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword3"
            name="namewifi"
          />
        </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword3"
            name="passWifi"
          />
        </div>
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Camera Models</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Model"
              id="Model1"
              value="Fall"
              checked
            />
            <label class="form-check-label" for="Model1">Fall</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Model"
              id="Model2"
              value="Fight"
            />
            <label class="form-check-label" for="Model2">Fight</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Model"
              id="Model2"
              value="Accident"
            />
            <label class="form-check-label" for="Model2">Accident</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Model"
              id="Model2"
              value="Chiu"
            />
            <label class="form-check-label" for="Model2">Chiu</label>
          </div>
        </div>
      </fieldset>
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      
    </form>
  </body>
</html>
